# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
*.env

# Virtual environment
venv/
env/
analyzer_env/

# IDE / Editor specific
.vscode/
.idea/

# Local data files
/data/